.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
  &-link {
    color: $text-color;
    transition: all 0.25s;
    &:hover {
      color: $heading-color;
    }
  }
  // &-item {
  //   &--auth {
  //     display: none;
  //   }
  // }
}
.menu-toggle {
  display: none;
}

@media screen and (min-width: 1024px) {
  .menu-item--auth {
    display: none;
  }
}

@media screen and (max-width: 1023.98px) {
  .menu {
    &.is-show {
      transform: none;
    }
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    background-color: $white-color;
    width: 300px;
    padding-top: 60px;
    gap: 10px 0;
    justify-content: flex-start;
    align-items: stretch;
    border-left: 1px solid #ddd;
    transform: translateX(100%);
    will-change: transform;
    transition: all 0.3s linear;
    z-index: 100;
    // &-item {
    //   display: block;
    //   width: 100%;
    // }
    &-link {
      display: block;
      width: 100%;
      padding: 20px;
    }
    &-item--auth {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      gap: 0 20px;
      padding: 20px;
    }
  }
  .menu-toggle {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    & i {
      font-size: 30px;
    }
  }
}
