*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
}
