$font: 'Rubik', sans-serif;
$primary-color: #f53838;
$white-color: #fff;
$text-color: #4f5665;
$heading-color: #0b132a;
$gray-light-color: #f8f8f8;
$gray-lighter-color: linear-gradient(
  180deg,
  #f8f8f8 -45.04%,
  rgba(248, 248, 248, 0) 88.56%
);
$shadow-color: rgba(245, 56, 56, 0.35);
